BBTWebApplication/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetReceiptInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flavour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sugar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jelly" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReceiptInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>